body {
    padding: 20px;
    width: 960px;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    border: 5px solid black;
}

h1 {
    padding: 10px;
    font-size: 30px;
    border-bottom: 4px black solid;
}

h3 {
    padding: 8px;
    font-size: 24px;
    font-weight: bolder;
}

h5 {
    font-size: 20px;
}

p {
    margin: 0 65px 0 65px;
    line-height: 1.25em;
}

.gem {
    padding: 9px;
    width: 80px;
    height: 80px;
}

#info {
    padding: 20px 0 20px 0;
    width: 400px;
    margin: 0 auto;
    border-top: 2px solid red;
}

.scoreBoard {
    margin: 3px;
    font-size: 24px;
    position: relative;
    top: -15px;
    display: inline;
}

#win_Display, #lose_Display, #total_Display, #numberToGet_Display{
    display: inline-block;
    font-weight: bolder;
    font-size: 24px;

}

#total {
    display: inline-block;
}